version: '3.9'
services:
  chroma:
    image: chromadb/chroma:latest
    volumes:
      - chroma-data:/chroma
    ports:
      - "8000:8000"
    environment:
      - IS_PERSISTENT=TRUE
  backend:
    build: .
    volumes:
      - ./src:/app/src
    environment:
      - CHROMA_HOST=chroma
      - CHROMA_PORT=8000
      - OLLAMA_BASE_URL=http://ollama:11434
    ports:
      - "8001:8000"
    depends_on:
      - chroma
  frontend:
    build: ./frontend
    volumes:
      - ./frontend:/frontend
    environment:
      - VITE_BACKEND_URL=http://localhost:8001
    ports:
      - "5173:5173"
    command: npm run dev -- --host
    depends_on:
      - backend
  ollama:
    image: ollama/ollama:latest
    ports:
      - "11434:11434"
    volumes:
      - ollama-data:/root/.ollama
volumes:
  chroma-data:
  ollama-data:
